{% extends 'base.html' %}

{% block title %}{{ block.super }} | Reset DataBase{% endblock %}

{% block content %}
    <div class="container-student-data">
        <div class="container-student-name">
            <p class="roboto-bold student-data-text">
                Name:
            </p>
            <p class="roboto-regular student-data-text">
                Edy Rolando Rojas González
            </p>
        </div>
        <div class="container-student-id">
            <p class="roboto-bold student-data-text">
                Carne ID:
            </p>
            <p class="roboto-regular student-data-text">
                201730511
            </p>
        </div>
    </div>
{% endblock %}